// Colors
// --------------

$col-gallery-overlay: $col-bg-dark;
$col-gallery-shadow: $col-bg-black;


@media all {

  $gal-elem-margin: 5px;

  .gallery {
    max-width: 100%;
    margin: 30px auto 20px auto;

    ul {
      margin: 0 -$gal-elem-margin;
      padding: 0;
      list-style: none;
      //overflow: hidden; 
      border: none;
    }

    // end ul

    li {
      margin: 0;

      a {
        position: relative;
        display: block;
        margin: $gal-elem-margin $gal-elem-margin;
        border: 0px solid #3C3C3C;

        .overlay {
          box-shadow: 0px 0px 23px 0px rgba($col-gallery-shadow, 0.75) inset;
          background-color: rgba($col-gallery-overlay, 0.8);
          height: 100%;
          width: 100%;
          position: absolute;
          display: block;
          top: 0;

          &:hover {

            background-color: inherit;
            box-shadow: inherit;

            &::after {
              display: inline-block;
              content: '';
              position: absolute;
              bottom: 20px;
              right: 20px;
              width: 45px;
              height: 45px;
              transform: translate(-50%, -50%);
              background: url("../images/zoom.svg") no-repeat center;
              background-size: auto;
              background-size: 45px;
            }
          }

        }

        /*				
        .curtain {
          position: absolute;
          right: 0;
          top: 0;
          width: auto;
          height: 100%;
        }
        
        .icon-plus {
          position: absolute;
          right: 0px;
          top: 0px;
          width: 58px;
          height: 58px;
          border: 1px solid $col-border;
          background: $white url('../images/icons.png') no-repeat right -104px;
        }
          
        &:hover .icon-plus {
          background-color: $col-bg-light;
          background-position: right -144px;
        }
*/
      }

      // end a

      img {
        max-width: 100%;
        height: auto;
      }

    }

    // end li
  }

  // end .gallery

}

// end @media all