@media screen {
  /* Allgemein */
  nav {
    ul {
      margin: 0;
      list-style: none;
    }
    li {
      margin: 0;
      padding: 0;
    }
    li:hover {}
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
  }
  /* Main-Navigation */
  #mainnav {
    display: none;
    position: absolute;
    right: 0;
    top: $header-height -$border-height;
    background-color: $white;
    min-width: 180px;
    padding: 20px 0;
    font-size: 150%;
    width: 100%;
    border: solid 1px $medium-gray;
    border-top: none;
    li {
      display: block;
      &:hover {
        a,
        a:focus,
        a:active {
          color: $white;
          background-color: $col-akzent;
          display: block;
        }
      }
      a.active, a:focus {
        color: $white;
        background-color: $col-akzent;
        display: block;
      }

    }
    li>a {
      display: block;
      padding: 20px 36px;
    }
    @include breakpoint (medium down) {
      width: 100%;
      li {
        text-align: left;
      }
    }
    .tel-inside-nav {
      padding: 5px 5px 5px 36px;
    }
  }
}

//Foundation überschreiben
.menu {
  &.simple {
    align-items: unset;
    li {
      margin-left: 0px !important;
    }
  }
}