.button-link a,
.button,
a.button,
a.button-link,
a .button-link {
    transition: all 0.3s;
    cursor: pointer;
    font-size: rem-calc(20);
    border: none;
    background-color: $col_bg_button;
    color: $col_button;
    padding: 1rem 2rem;
    display: inline-block;
    line-height: 1rem;
    text-transform: uppercase;
    font-family: "source-sans-pro" !important;
    &:hover,
    &:focus {
        color: $col_button_hover;
        background-color: $col_bg_button_hover;
        text-decoration: none;
        a {
            color: $col_button;
            text-decoration: none;
        }
    }
}


// Formular
.form-navigation {
    .next.submit {
        @media (max-width: 1024px){
            text-align: center;
        }
        list-style: none;
        button {
            @media (min-width: 1024px){
                margin-left: 67px;
            }
            margin-top: 30px;
            background-color: $green;
            color: $white;
            border-radius: 50%;
            width: 140px;
            height: 140px;
            text-transform: uppercase;
            position: relative;
            cursor: pointer;
            &:hover {
                color: $light-green;
                &:before {
                    left: -70px;
                }
                &:after {
                    right: -70px;
                }
            }
            &:before, &:after {
                content: '';
                width: 70px;
                height: 60px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            &:before {
                transition: 0.3s;
                left: -90px;
                background-image: url('../images/Ameise_links.png');
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:after {
                transition: 0.3s;
                right: -90px;
                background-image: url('../images/Ameise_rechts.png');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}
