//Header Container
.main-header {
}

// Header Bild
.header-image {
}

.header-wrapper {
    padding: 20px 10px;
    z-index: 99;
    position: absolute;
    width: 100%;
    top: 0;
}

// Logo
.page-logo {
}

// Menü
.menu-trigger {
    &:hover {
        cursor: pointer;
    }
    width: 40px;
    &.close {
        display: none;
    }
    &.nav-open {
        &.close {
            display: block;
        }
        &.open {
            display: none;
        }
    }
    // Menü Farbe
    .color-menu {
        fill: black;
    }
}

// HeaderIMG
.main {
    > .neos-contentcollection {
        > .container-image {
            img {
                margin-bottom: 30px;
            }
        }
    }
}
