@media screen {
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .main-footer {
        margin-top: 75px;
        padding: 10px 0px;
        padding-top: 25px;
        background-color: #eaedf1;
        color: $blue-dark;
        box-shadow: 0px 6px 15px darkgray;

        a {
            color: $blue-dark;
        }

        ul {
            // display: flex;
            margin: 0;
            li {
                list-style: none;
                padding: 7px 0px;
                line-height: 1;
                // border-right: 1px solid $white;
                border-top: 1px dashed #afc3d4;
                &:last-of-type {
                    border-bottom: 1px dashed #afc3d4;
                }
            }
        }

        .grid-x {
            .cell {
                @include breakpoint(mobileNav down) {
                    padding-left: 0;
                }
            }
        }
    }
    .icon-footer {
        width: 20px;
        height: auto;

        @include breakpoint(large) {
            width: 90px;
            height: auto;
        }
    }

    .wrapper-icon-mobile {
        right: 0;
        bottom: 0;
        background-color: #eaedf1;
        padding: 5px 0px 0px 10px;
        img {
            width: 50px;
            height: auto;
        }
    }
}

// end media screen
