@media screen {

  .page-footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: $black;
    color: $white;

    .inside {
      padding-top: 56px;
      padding-bottom: 54px;
    }

    .ym-gbox {
      .title {
        display: block;
        min-height: 28px;
        margin-bottom: 15px;
      }
    }

    .footer-links {
      position: relative;

      a { display: inline-block; }
      a:hover span { text-decoration: underline dashed $fc-a-hover;  }
    }
  } // end .wg-page-footer


  #toplink {
    position: absolute;
    top: -20px;
    right: 10px;
    width: 40px;
    height: 40px; 
    //border: 1px solid $black;
    //background: $white url('../images/arrow_blue.svg') no-repeat 14px 12px/auto 17px;
    //@include rotate(270);
    cursor: pointer;

    span, a {
      display: block;
      height: 40px;
    }

    &:hover {
      background-image: url('../images/arrow_green.svg');
    }
  }
} // end media screen