body {
    background-color: $col-bg;
    color: $black;
    .print {
        display: none;
    }
}

.content-wrapper {
    padding-bottom: 50px;
}

// Button
// --------------
.button {
    border: 1px solid $white;
    font-size: 1.2rem;
    &:hover,
    &:focus {
        color: $col-akzent;
        a {
            color: $col-akzent;
            text-decoration: none;
        }
    }
}

// Hintergrund für Textfelder
// --------------
.bg-color-light {
    background-color: $col-bg-light;
}

// Modulauswahl Styles
// --------------
.column-2 {
    column-count: 2;
}

// Positionen Styles
// --------------
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.container-image img {
    width: 100%;
    height: auto;
}

.border-top-dotted {
    border-top: dotted 2px black;
}