@media screen {
  .page-main {
    background-color: $white;

    article.article,
    .page-content {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  // end .wg-page-content

  /**
   * Google-Maps Modul
   */

  #maps {
    height: 400px;
    margin-bottom: 0;
    background-color: $col-bg-light;
    text-align: center;

    .large {
      font-size: 40px;
      color: $white;
    }
  }

  /**
  * Neos Backend
  */

  .neos-backend {
    picture.container-image {
      .style__notInlineEditableOverlay___9Lzv1 {
        display: none;
      }
    }
  }
}

/**
* Bredcrumb
*/

ul.breadcrumb {
  color: $blue-light;
  letter-spacing: 0.01;
  margin-left: 0;
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  a {
    color: $blue-light;
  }
  li {
    white-space: nowrap;
    padding: 0 5px;
    &:first-of-type {
      /*
      &::before {
        content: "\\";
      }
      */
    }
    &:not(:first-of-type) {
      &::before {
        content: " >";
      }
    }
  }
}

.headline.sitebar {
  @include breakpoint(large) {
    margin-top: 2.6rem;
  }
}

.wrapper-trenner {
  @include breakpoint(large) {
    width: auto;
  }
} 

.trenner {
  @include breakpoint(large) {
    border-left: 1px solid $blue-light;
    height: 100%;
    margin-right: 1rem;
  }
  @include breakpoint(medium down) {
    width: 100%;
    border-top: 1px solid $blue-light;

  }
}

// end media screen
