@media screen {
  .page-main {
    background-color: $white;

    article.article,
    .page-content {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  // end .wg-page-content

  /**
   * Google-Maps Modul
   */

  #maps {
    height: 400px;
    margin-bottom: 0;
    background-color: $col-bg-light;
    text-align: center;

    .large {
      font-size: 40px;
      color: $white;
    }
  }

  /**
  * Neos Backend
  */

  .neos-backend {
    picture.container-image {
      .style__notInlineEditableOverlay___9Lzv1 {
        display: none;
      }
    }
  }
}

/**
* Bredcrumb
*/

.breadcrumb {
  ul {
    display: flex;
    list-style: none;
    li {
      padding: 0 5px;
      &:first-of-type {
        &::before {
          content: "\\";
        }
      }
      &:not(:first-of-type) {
        &::before {
          content: " >";
        }
      }
    }
  }
}

// end media screen
