// Typography
// --------------

/* Schriften einbinden */

@font-face {
    font-family: "montserrat-light";
    src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: "montserrat-bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "aleo-light";
    src: url("../fonts/Aleo/Aleo-Light.ttf") format("truetype");
}
@font-face {
    font-family: "aleo-regular";
    src: url("../fonts/Aleo/Aleo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "danielblack";
    src: url("../fonts/DanielBlack/danielbk.ttf") format("truetype");
}
@font-face {
    font-family: "danielbold";
    src: url("../fonts/DanielBlack/Daniel-Bold-webfont.ttf") format("truetype");
}
// Font Family
// --------------
$body-font-family: 'aleo-light';
$h1-font-family: $webfont-h1;
$h2-font-family: $webfont-h2;
$nav-font-family: "montserrat-light";
// Font Colors
// --------------
$col-h1: $fc-h1;
$col-h2: $fc-h2;
$col-h3: $fc-h3;
// Style Reset
// --------------
address {
    font-style: normal;
}

@media all {
    body {
        color: $body-font-color;
        font-family: $body-font-family;
    }
    h1,
    .h1 {
        font-family: $h1-font-family;
        font-weight: 700;
        color: $fc-h1;
    }
    h2,
    .h2 {
        font-family: $h1-font-family;
        color: $col-h2;
    }
    h3,
    .h3 {
        font-family: $h1-font-family;
        color: $fc-h3;
    }
    // Font-Styles
    .headline {
        margin-top: 1rem;
    }
    .font-large {
        font-size: rem-calc(21px);
    }
    // Navigation
    ul.menu {
        li a {
            font-family: 'montserrat-light';
            font-size: 1.12em;
        }
    }
    .col-blue {
        color: $blue-dark;
    }
    .col-blue-light {
        color: $blue-light;
    }
    .col-cyan {
        color: $cyan;
    }
    .col-green {
        color: $green;
    }
    .col-red {
        color: $red;
    }

    //Links

    a {
        color: $fc-a;
    }
}

// end media all
