// config file width native foundation classes - Wird in der app.scss nach der settings.scss eingebunden
// global styles
// --------------
$global-margin: 1rem;
$global-padding: 1rem;
$global-position: 1rem;
$global-radius: 0;
$global-menu-padding: 0.7rem 1rem;
$global-menu-nested-margin: 1rem;
// Breakpoints
// --------------
$breakpoints: ( small: 0, medium: 480px, large: 768px, mobileNav: 960px, //Custom Breakpoint
xlarge: 991px, xxlarge: 1200px, //Custom Breakpoint
);
$breakpoint-classes: (small medium large mobileNav xlarge xxlarge);
$unused: inherit;

/*
$lg: "(max-width: 1200px)";
$md: "(max-width: 991px)";
$sm: "(max-width: 767px)";
$xs: "(max-width: 480px)";
*/

// colors
// --------------
$light-gray: #dadada;
$medium-gray:#cacaca;
$dark-gray: #8a8a8a;
$darker-grey: #635f4c;
$black: #000;
$white: #fff;
// custom colors (Projektfarben)
// --------------
$blue-dark: #005781;
$blue-light: #a0c9ed;
$cyan: #37b5a7;
$green: #00b050;
$red: #d6082f;
$foundation-palette: ( primary: $darker-grey, secondary: $dark-gray, success: $green, warning: $red, alert: $red, );
// element-colors
// --------------
$col-bg: $white;
$col-bg-light: $light-gray;
$col-bg-dark: $darker-grey;
$col-bg-black: $black;
$col-bg-nav: $white;
$col-border: $darker-grey;
$col-ruler: $col-border;
$col-akzent: $green;
$col-important: $green;
$col-warning: $unused;
$col-error: $unused;
$col_bg_button: $green;
$body-background: $black;
// font-colors
// --------------
$body-font-color: $black;
$fc-h1: $black;
$fc-h2: $black;
$fc-h3: $unused;
$fc-h4: $unused;
$fc-h5: $unused;
$fc-h6: $unused;
$fc-a: $green;
$fc-a-hover: $green;
$fc-a-active: $green;
$fc-nav: $green;
$fc-nav-mobile: $green;
$fc-nav-hover: $white;
$fc-nav-active: $white;
// negative colors areas
// --------------
$col-neg-bg: $green;
$col-neg: $white;
$col-neg-a: $white;
$col-neg-active: $white;
// base typography
// --------------
$global-font-size: 110%;
$global-lineheight: 1.5;
$global-weight-normal: normal;
$global-weight-bold: bold;

/** Webfonts:*/

$webfont-regular: 'aleo-regular',
sans-serif;
$webfont-medium: 'source-sans-pro-regular',
sans-serif;
$webfont-light: 'aleo-light',
sans-serif;
$webfont-semibold: 'montserrat-bold',
sans-serif;
$webfont-bold: 'montserrat-bold',
sans-serif;
$webfont-h1: 'danielblack',
sans-serif;
$webfont-h2: 'danielblack',
sans-serif;
$webfont-h3: 'danielblack',
sans-serif;
$semi-bold-font-family: $webfont-semibold;
$body-font-family: $webfont-regular;
// base typography
// --------------

/*
$global-font-size: rem_calc(16);
$global-lineheight: 1.65;
$global-weight-normal: normal;
$global-weight-bold: bold;
$body-font-color: $blue-dark;

$paragraph-lineheight: 1.65;
*/

$header-styles: ( small: ( 'h1': ('font-size': 21), 'h2': ('font-size': 21), 'h3': ('font-size': 18), 'h4': ('font-size': 18), 'h5': ('font-size': 18), 'h6': ('font-size': 16), ), medium: ( 'h1': ('font-size': 25), 'h2': ('font-size': 22), 'h3': ('font-size': 18), 'h4': ('font-size': 18), 'h5': ('font-size': 18), 'h6': ('font-size': 16), ), );
// header styles
// --------------
$header-height: 100px;
$header-lineheight: 1.4;
$header-margin-bottom: 0.5rem;

/**
 * Print Styles
 */

$print-fs-base: 10pt;
// Menu
// --------
$menu-margin: 0;
$menu-nested-margin: $global-menu-nested-margin;
$menu-items-padding: $global-menu-padding;
$menu-simple-margin: 1rem;
$menu-item-color-active: $white;
$menu-item-background-active: $col-akzent;
$menu-icon-spacing: 0.25rem;
$menu-item-background-hover: $col-akzent;
$menu-state-back-compat: true;
$menu-centered-back-compat: true;
$menu-icons-back-compat: true;
// 8. Accordion Menu
// -----------------
$accordionmenu-padding: $global-menu-padding;
$accordionmenu-nested-margin: $global-menu-nested-margin;
$accordionmenu-submenu-padding: $accordionmenu-padding;
$accordionmenu-arrows: true;
$accordionmenu-arrow-color: $white;
$accordionmenu-item-background: null;
$accordionmenu-border: null;
$accordionmenu-submenu-toggle-background: null;
$accordion-submenu-toggle-border: $accordionmenu-border;
$accordionmenu-submenu-toggle-width: 40px;
$accordionmenu-submenu-toggle-height: $accordionmenu-submenu-toggle-width;
$accordionmenu-arrow-size: 6px;
// 18. Dropdown Menu
// -----------------
$dropdownmenu-arrows: true;
$dropdownmenu-arrow-color: $white;
$dropdownmenu-arrow-size: 6px;
$dropdownmenu-arrow-padding: 1.5rem;
$dropdownmenu-min-width: 200px;
$dropdownmenu-background: rgba(215, 223, 55, 1);
$dropdownmenu-submenu-background: $dropdownmenu-background;
$dropdownmenu-padding: 20px;
$dropdownmenu-nested-margin: 0;
$dropdownmenu-submenu-padding: $dropdownmenu-padding;
$dropdownmenu-border: none;
$dropdown-menu-item-color-active: $fc-nav-active;
$dropdown-menu-item-background-active: $col-akzent;
//Accordion
// --------------
$accordion-plusminus: true;
$accordion-item-color: $black;
$accordion-background: $white;
$accordion-item-background-hover: none;
$accordion-content-border: 1px solid $col-bg-dark;
//Buttons
// --------------
$button-font-family: inherit;
$button-padding: 0.5em 0.5em;
$button-margin: 0 0 $global-margin 0;
$button-fill: solid;
$button-background: $col-akzent;
$button-background-hover: $white;
$button-color: $white;
$button-color-alt: $black;
$button-radius: $global-radius;
$button-hollow-border-width: 1px;
//Links
$anchor-color: $col-akzent;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: underline;